<web-app version="2.4"
		xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>SlowServingServlet</servlet-name>
		<servlet-class>com.scheffield.ria.loading.SlowServingServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.scheffield.ria.loading.TestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SlowServingServlet</servlet-name>
		<url-pattern>/slow</url-pattern>
	</servlet-mapping>
	
</web-app>